body {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #2A3440;
}

.hideCursor {
  cursor: none !important;
}

@media screen and (min-width: 901px) {
  .wrapper {
    width: 100%;
    height: calc(100% - 200px) !important;
  }
}