*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

}

body {
  margin: 0;
  font-size: 16px;
  font-family: Calibri sans-serif;
}

.Links {
  padding: 5px 20px;
  background-color: rgb(231 231 231 / 37%);
  border-radius: 12px;
}

.Links a {
  margin: 0;
  padding: 8px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.Links a:hover {
  background-color: rgb(225 225 225 / 44%);
}

.Links a i {
  display: flex;
  align-items: center;
  justify-content: center;
}